body{
    background-color: hsl(190, 16%, 85%);
}
header{
    background-color: rgb(255, 255, 255);
    
}
.briefDescription{
    background-color:aquamarine;
}
hr{
    background-color: black;
    border: 0px;
    height: 4px;
}
.centered-text{
    text-align: center;
}
.centered-video{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.h1-buttonwee{
    text-align: center;
    font-size: 18px; /* Adjust the font size */
    padding: 10px 20px; /* Adjust the padding (top-bottom and left-right) */
    width: 200px; /* Adjust the width */
    height: 50px; /* Adjust the height */
    border: none; /* Optional: remove the border if needed */
    background-color: #4CAF50; /* Optional: set background color */
    color: white; /* Optional: set text color */
    cursor: pointer;
}
/*
.h1-buttonwee:hover {
    background-color: #b5b5b5;
}