/* use 2 accent colors plus b&w. also only one font*/

:root {
	/* the "h" prefix means header section*/
	--hBackgroundColorWhite: #ffffff;
	--hHoverColorWhite: #7e77ff77;
	--hBackgroundColorBlue: #1414ffd5;
	--hHoverColorBlue: #0202ded5;
	--bodyBackground: #f0f5f6;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('./fonts/NanumGothic-Bold.ttf') format('truetype');
}

body{
    background-color: var(--bodyBackground);
	margin: 0;
	padding: 0;
}
header{
    background-color: var(--hBackgroundColorWhite);
}
a{
	text-decoration: none;
}
.briefDescription{
    background-color:aquamarine;
}
hr{
    background-color: black;
    border: 0px;
    height: 4px;
}
.h1-button{
    box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:30px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	padding:12px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
	.h1-button:hover {
		background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
		background-color:#415989;
	}
	.h1-button:active {
		position:relative;
		top:1px;
}
.centerOnScreen{
    text-align: center;
}
.whiteBackButton{
	border: 0px;
	background-color: var(--hBackgroundColorWhite);
	border-radius: 1em;
	padding: 10px;
}
	.whiteBackButton:hover{
		background-color: var(--hHoverColorWhite);
	}
	.whiteBackButton:active{
		position:relative;
		top:2px;
	}
.blueBackButton{
	border: 0px;
	background-color: var(--hBackgroundColorBlue);
	border-radius: 1em;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}
	.blueBackButton:hover{
		background-color: var(--hHoverColorBlue);
		color: black;
	}
	.blueBackButton:active{
		position:relative;
		top:2px;
	}

/* Make the text turn white or black when hovering */